/* Dimensions globalisées */
.blocImage, .imageGandalf, .fondGris, .blocInfo {
	width: 200px;
	height: 260px;
}

/* Positionnements relatifs et absolus */
.blocImage {
	position: relative; /*pour qu'on puisse mettre les enfants en absolute et les positionner facilement*/
}

.blocImage * {
	position: absolute;
}

.imageGandalf {
	display: block;
}

.fondGris {
	background-color: rgba(220, 220, 220, 0.7);
	position: relative;
}

.reward {
	position: absolute;/*pour pouvoir positionner par rapport au parent*/
	background-color: rgba(220, 220, 220, 0.7);
	width: 100%;
	height: 100%;/*pour que ça fasse la même taille que le parent mais je ne sais pas pourquoi ça n'a pas marché, à investiguer...*/
	margin-left: auto; /*pour centrer*/
	margin-right: auto;/*pour centrer*/
	height: 2.5em;
	font-size: 20px;
	border-radius: 20px;
	text-align: center;
}

.gandalf {
	position: absolute;/*pour pouvoir positionner par rapport au parent*/
	bottom: 1em;
	text-align: center;
	height: 100%;/*pour que ça fasse la même taille que le parent*/
	width: 100%;
	font-size: 36px;
	color: white;
	font-weight: bold;
	box-sizing: border-box; /* j'ai ai eu besoin pour que ça ne dépasse pas*/
	top: 0; /*pour que le .gandalf soit bien calé sur le div parent*/
	padding-top: 30%; /*à changer à ta convenance*/
}

/* Hover */


.reward:hover {
	animation: estomperReward;
	animation-duration: 1s;
	animation-iteration-count: 1;
	color: rgba(0, 0, 0, 0);
}

.fondGris:hover {
	background-color: rgba(220, 220, 220, 0);
}

.gandalf:hover {
	animation: descendreNom;
	animation-duration: 1s;
	animation-iteration-count: 1;
	padding-top: 60%; /*à changer à ta convenance*/
	font-size: 18px;
}

@keyframes estomperReward {
	0% {background-color: rgba(220, 220, 220, 0.7);}
	100% {background-color: rgba(220, 220, 220, 0);}
}

@keyframes descendreNom {
	0% {bottom: 1em; font-size: 36px;}
	100% {bottom: -1em; font-size: 18px;}
}
